@import url("/local/templates/investtumen/css/badge.css");

.photo-slider {
    position: relative;
}

.photo-slider__content {
    max-width: 320px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    bottom: 16px;
    left: 16px;
    z-index: 20;
}

.photo-slider__content .badge {
    margin-right: 8px;
    margin-bottom: 8px;
    text-align: left;
}

.photo-slider__content a.badge {
    color: var(--color-basic);
    cursor: pointer;
}

.photo-slider__content a.badge svg {
    margin-left: 4px;
}

swiper-container {
    width: 100%;
    height: 100%;
  }

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1023px) {
    .card__item.photo-slider {
        margin-left: 8px;
        margin-right: 8px;

        width: calc(100% - 16px);
    }
    
    .card__item.photo-slider .person-image {
        height: 380px;
    }
}