@import url("/local/templates/investtumen/css/contact-item.css");

.image-container_bg.full-image {
  height: 420px;
}

.image-container_bg.part-image {
  height: 576px;
}

@media (max-width: 1023px) {
  .image-container_bg.full-image {
    height: 208px;
  }
}
