.checkbox-container {
  position: relative;
  display: block;
  margin-bottom: 0;
  padding-left: 36px;
  cursor: pointer;
  font-size: calc(var(--font-size-p2) * 1px);
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black-40);
  border-radius: var(--border-small);
}

.checkbox-container:hover input ~ .checkmark {
  border-color: var(--color-blue);
}

.checkbox-container input:checked ~ .checkmark {
  display: flex;
  background: var(--color-blue);
  justify-content: center;
  align-items: center;
  border-color: var(--color-blue);
}

.checkbox-container input:disabled ~ .checkmark {
  background-color: var(--color-black-40);
}

.checkbox-container:after {
  position: absolute;
  display: none;
  content: "";
}
