.page-menu {
  position: relative;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 42px;
}

.page-menu-wrapper {
  position: sticky;
  top: -1px;
  z-index: 10;
  background: var(--background-bg);
}

@media (min-width: 1024px) {
  .page-menu {
    border-top: none;
  }

  .page-menu::before {
    position: absolute;
    top: 0;
    right: 42px;
    left: 42px;
    display: block;
    height: 1px;
    content: "";
    background: var(--color-black-40);
  }
}

.page-menu__item {
  padding: calc(var(--padding-medium) * 2) var(--padding-xl);
  font-size: calc(var(--font-size-p1) * 1px);
  line-height: 24px;
  font-weight: 500;
  white-space: nowrap;
}

.page-menu__item a {
  color: var(--color-black-60);
}

.page-menu__item .active {
  color: var(--color-basic);
}

.page-menu__item:first-child {
  padding-left: 0;
}

.page-menu__item:last-child {
  padding-right: 0;
}

.page-menu__item_current a {
  color: var(--color-basic);
}

@media (max-width: 1023px) {
  .page-menu {
    padding: 0 24px;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .page-menu::-webkit-scrollbar {
    display: block;
    width: 4px;
    height: 4px;
  }

  .page-menu::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .page-menu::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: transparent;
    border-right: none;
    border-left: none;
  }

  .page-menu::-webkit-scrollbar-button:vertical:start:increment,
  .page-menu::-webkit-scrollbar-button:vertical:end:decrement,
  .page-menu::-webkit-scrollbar-button:horizontal:start:increment,
  .page-menu::-webkit-scrollbar-button:horizontal:end:decrement {
    display: none;
  }
}

@media (max-width: 767px) {
  .page-menu {
    padding: 0 16px;
  }
}
